[submodule "backend"]
	path = backend
	url = https://github.com/EidrianXD/meeting-room-booking-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/EidrianXD/meeting-room-booking-frontend.git
